@import '../../styles/variables.module.scss';

.noteBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  .note {
    background: $white;
    border: 1px solid $border-color;
    padding: 1.5rem;

    .title {
      font-size: 1.8rem;
      text-align: left;
    }

    .description {
      font-size: 1.5rem;
      margin: 1rem 0;
      text-align: left;
      word-break: break-all;
    }

    .date {
      display: block;
      font-size: 1.3rem;
      text-align: right;
    }
  }
}
