@import '../../styles/typography.module.scss';
@import '../../styles/grid.module.scss';
@import '../../styles/flex.module.scss';

.frequencyAndSimilarWindow {
  @include col(1);
  @include container;

  .frequency {
    @include small-text;
    margin: 1.5rem 0;
    text-transform: uppercase;

    & > span {
      font-weight: 700;
    }
  }

  .frequencyInput {
    @include nav-item;

    margin-bottom: 2rem;
    width: 100%;
  }

  .title {
    @include logo;

    margin-bottom: 1.5rem;
  }
}
