$primary-font: 'Montserrat', sans-serif;

$navbar-height: 8rem;
$sidebar-width: 34rem;

// Colors
$primary-blue: rgb(49, 177, 252);
$primary-blue-alpha: rgba(49, 177, 252, 0.125);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

// Hover
$hover-cta-blue: rgba(49, 177, 252, 0.85);

// Box Shadow
$box-shadow-sidebar: rgba(0, 0, 0, 0.2) 0rem 0.5rem 0.5rem 0rem;
$box-shadow-navbar: rgba(0, 0, 0, 0.2) 0rem 0rem 0.5rem 0rem;
